@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
     box-sizing: inherit;
}

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
    height: 250px;
    width: 200px;
    float: left;
} 

footer {
   width: 50px;
    clear: both;
}

header {
   width: 50px;
   }

img {
	max-width: 75%;
}

main {
   height: 250px;
   width: 600px;
   float: left;
   padding: 20px;
   
}

nav {

}

#copyright {
	font-size: 80%;
}

#main-container {
	list-style-type: none;
       width: 230px;
       margin:0 auto;
      float: left;

}
