@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
    position: relative;
    width:150px; 
   float: left;
}

footer {
   position: relative;
   float: left;
    clear: left;
   width: 100%;
}

header {
    position: relative;
    float: left;
    width: 100%;
}

img {
	max-width: 75%;
}

main {
   width:150px; 
   float: left;

}

nav {

}

#copyright {
	font-size: 80%;
}

#main-container {
	list-style-type: none;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 230px;
        float: left;

}
